$primary-color: #d6f1e9;
$secondary-color: #000;
$accent-color: #0c4e58;
$primary-font: 'Pontano Sans';
$secondary-font: 'Open Sans';




html,
body {
  height: 100%;
  background-color: $primary-color;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: $secondary-color;
  font-family: $secondary-font, sans-serif;
}

h1, h2, h3, h4 {
  font-family: $primary-font, sans-serif;
  color: $accent-color;
  text-transform: uppercase;
  font-weight: bold;
}

.cover-container {
  max-width: 42em;
}

/* Links */
a {
  color: $accent-color;
  font-weight: bold;
  text-decoration: underline;
}

.links a {
  color: #fff;
}

a:hover {
  color: $accent-color;
  text-decoration: none;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: $accent-color;
  // color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  // color: #fff;
  border-bottom-color: $accent-color;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

// Icons
i {
  font-size: 20px;
  margin: 0px 5px;
}
